* {
    box-sizing: border-box;
    font-family: 'Averia Serif Libre', cursive;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: xx-large;
    margin: 1%;
    font-family: 'Averia Serif Libre', cursive;
}

header {
    border: black 3px solid;
    text-align: center;
    padding: 1%;
    border-radius: 7px;
}

footer {
    border: black 3px solid;
    border-radius: 7px;
    text-align: center;
    padding: 1%;
}